<div class="grid-producto">
        {% for prod in productos %}
        <div class="tarjeta">
            <div class="producto-img-container">
                <img src="{{ prod.imagen_url }}" alt="{{ prod.nombre }}">
            </div>
            <div class="producto-cuerpo">
                <span class="badge">Catálogo</span>
                <h3>{{ prod.nombre }}</h3>
                
                <p>{{ prod.descripcion }}</p>

                <div class="producto-estrellas">
                    <i class="bi bi-star-fill"></i>
                    <span>({{ prod.estrellas or 5.0 }})</span>
                </div>
                
                <div class="producto-compra">
                    <span class="producto-precio">S/ {{ "%.2f"|format(prod.precio) }}</span>
                    <button class="btn-carrito">
                        <i class="bi bi-cart"></i> Agregar
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>